/* #########   Font kits   ######### */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedBoldItalic.woff2") format("woff2"),
    url("../fonts/DINPro-CondensedBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedMediumItalic.woff2") format("woff2"),
    url("../fonts/DINPro-CondensedMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedLight.woff2") format("woff2"),
    url("../fonts/DINPro-CondensedLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedLightItalic.woff2") format("woff2"),
    url("../fonts/DINPro-CondensedLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("../fonts/DINPro-CondensedMedium.woff2") format("woff2"),
    url("../fonts/DINPro-CondensedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro Cond";
  src: url("DINPro-CondensedBold.woff2") format("woff2"),
    url("DINPro-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
}


/* ###### design base #####*/

/* container */

.container{
  max-width: 1280px;
  padding: 0 30px;
  margin: 0 auto;
}

body h1,
body .h1{
  font-size: 48px;
  line-height: 54px;
  color: #112b36;
  font-family: "DIN Pro Cond", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
}

body h1 strong,
body .h1 strong{
  font-weight: 700;
}

body h2,
body .h2{
  font-size: 48px;
  line-height: 54px;
  color: #112b36;
  font-family: "DIN Pro Cond", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
}

body h2 strong,
body .h2 strong{
  font-weight: 700;
}

body h3,
body .h3{
  font-size: 38px;
  line-height: 44px;
  color: #112b36;
  font-family: "DIN Pro Cond", sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
}

body h3 strong,
body .h3 strong{
  font-weight: 700;
}

body h4,
body .h4{
  font-size: 24px;
  line-height: 44px;
  color: #112b36;
  font-family: "DIN Pro Cond", sans-serif;
  font-style: italic;
  font-weight: 500;
  text-transform: uppercase;
}

body h4.title-tag,
body .h4.title-tag{
  background-color: #112b36;
  color: #ffffff;
  padding: 0 8px;
}

body h4 strong,
body .h4 strong{
  font-weight: 700;
}

body,
body p{
  font-size: 16px;
  color: #112b36;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}